@using GlobalHack.Models
@model IEnumerable<GlobalHack.Models.Shelter>
 
@{
    ViewBag.Title = "Home Page";
    var allShelters = (List<GlobalHack.Models.Shelter>)ViewBag.allShelters;
    var myLocalShelter = (GlobalHack.Models.Shelter)ViewBag.myLocalShelter;
    var myReservations = (List<GlobalHack.Models.Reservation>)ViewBag.myReservations;
    var myBedsAvailable = (int?)ViewBag.bedsAvailable;
    var reservationsCount = (int?)ViewBag.reservationsCount;
    
}

<div class="row">
    <div class="row">
        <div class="col-md-12">
    <h2>My Shelter</h2>
    @Html.DisplayNameFor(model => model.Name) - @Html.DisplayFor(modelItem => myLocalShelter.Name) <br />
    @Html.DisplayNameFor(model => model.Phone) - @Html.DisplayFor(modelItem => myLocalShelter.Phone)<br />
    @Html.DisplayNameFor(model => model.Beds) - @Html.DisplayFor(modelItem => myLocalShelter.Beds) <br />
    @Html.DisplayNameFor(model => model.Location) - @Html.DisplayFor(modelItem => myLocalShelter.Location) <br />
    Beds Available - @(myBedsAvailable - reservationsCount) of @myBedsAvailable<br />

    <h4>Reservations Tonight- @DateTime.Now.Date.ToLongDateString()</h4>
    @if (myReservations.Count == 0)
    {
        <div class="row">
            <div class="col-md-8">
                No reservations for tonight!
            </div>
        </div>
    }
    else
    {
        int i = 0;
        foreach (var reservation in myReservations)
        {
            if (i%3 == 0) {
                @Html.Raw("<div class=\"row\">");
                <div class="col-md-4">
                    Client Name- @Html.ActionLink(reservation.Person.Name + " (View Referrals)", "ReferralsPerPerson", "Referrals",new { id = reservation.PersonId},null)<br/>
                    Has it been Confirmed? - @if (reservation.Confirmed)
                                             {
                                                 @Html.Raw("Confirmed");
                                             }
                                             else
                                             {
                                                 @Html.Raw("Unconfirmed");
                                             } <br/>
                    @Html.ActionLink("Defer", "SetNoShow", "Reservations",new {id = reservation.Id}, new { @class = "btn btn-warning" })
                    @Html.ActionLink("No Show", "SetNoShow", "Reservations", new { id = reservation.Id }, new {@class = "btn btn-danger" })
                </div>
            }
            if (@i%3==1) {
                <div class="col-md-4">
                    Client Name- @Html.ActionLink(reservation.Person.Name + " (View Referrals)", "ReferralsPerPerson", "Referrals", new { id = reservation.PersonId }, null)<br />
                    Has it been Confirmed? - @if (reservation.Confirmed)
                    {  @Html.Raw("Confirmed");
                    }
                    else
                    { @Html.Raw("Unconfirmed");
                    }  <br />
                    @Html.ActionLink("Defer", "SetNoShow", "Reservations", new { id = reservation.Id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("No Show", "SetNoShow", "Reservations", new { id = reservation.Id }, new { @class = "btn btn-danger" })
                </div>
            }
            if (@i%3==2) {
                <div class="col-md-4">
                    Client Name- @Html.ActionLink(reservation.Person.Name + " (View Referrals)", "ReferralsPerPerson", "Referrals", new { id = reservation.PersonId }, null)<br />
                    Has it been Confirmed? - @if (reservation.Confirmed)
                    {  @Html.Raw("Confirmed");
                    }
                    else
                    { @Html.Raw("Unconfirmed");
                    }  <br />
                    @Html.ActionLink("Defer", "SetNoShow", "Reservations", new { id = reservation.Id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("No Show", "SetNoShow", "Reservations", new { id = reservation.Id }, new { @class = "btn btn-danger" })
                </div>
                @Html.Raw("</div>");
            }
            i++;
        }
    }
        </div>
    </div>

    
</div>