<!--@model IEnumerable<GlobalHack.Models.Shelter>
    
    -->
@{
    ViewBag.Title = "Home Page";
    var allShelters = (List<GlobalHack.Models.Shelter>)ViewBag.allShelters;
    var myLocalShelter = (List<GlobalHack.Models.Shelter>)ViewBag.myLocalShelter;
    var youthShelters = (List<GlobalHack.Models.Shelter>)ViewBag.youthShelters;
    var myReservations = (List<GlobalHack.Models.Reservation>)ViewBag.myReservations;
    var myBedsAvailable = (int?)ViewBag.bedsAvailable;
}

<div class="row">
    <div class="row">
        <div class="col-md-12">
            <h2>My Shelter</h2>
            @Html.DisplayNameFor(model => model.Name) - @Html.DisplayFor(modelItem => myLocalShelter.First().Name) <br />
            @Html.DisplayNameFor(model => model.Phone) - @Html.DisplayFor(modelItem => myLocalShelter.First().Phone)<br />
            @Html.DisplayNameFor(model => model.Beds) - @Html.DisplayFor(modelItem => myLocalShelter.First().Beds) <br />
            @Html.DisplayNameFor(model => model.Location) - @Html.DisplayFor(modelItem => myLocalShelter.First().Location) <br />
            Beds Available -  @myBedsAvailable <br />
            
            <h4>Reservations Tonight</h4>
                @if (myReservations.Count == 0)
                {
                    <div class="row">
                        <div class="col-md-8">
                            No reservations for tonight!
                        </div>
                    </div>
                }
                else
                {
                    foreach (var reservation in myReservations)
                    {
                        <div class="row">
                            <div class="col-md-8">
                                Date - @Html.DisplayFor(modelItem => reservation.Date) <br/>
                                Has it been Confirmed? - @Html.DisplayFor(modelItem => reservation.Confirmed) <br/>
                                Person Name - @Html.DisplayFor(modelItem => reservation.PersonId) <br/>
                            </div>
                        </div>
                    }
                }
            @Html.ActionLink("Track New Shelter", "Create", "Shelters")
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2> Youth Shelters</h2>
            @if (youthShelters.Count == 0)
            {
                <div class="row">
                    <div class="col-md-8">
                        No youth shelters for tonight!
                    </div>
                </div>
            }
            else
            {
                foreach (var ys in youthShelters)
                {
                    <div class="row">
                        <div class="col-md-8">
                            Name- @Html.DisplayFor(modelItem => ys.Name) <br />
                            Contact Phone- @Html.DisplayFor(modelItem => ys.Phone) <br />
                            Address- @Html.DisplayFor(modelItem => ys.Location) <br />
                            Total Beds- @Html.DisplayFor(modelItem => ys.Beds) <br />
                            Total Beds- @myBedsAvailable <br />
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>