<!--@using GlobalHack.Models
@model IEnumerable<GlobalHack.Models.Shelter>
    
    -->
@{
    ViewBag.Title = "Home Page";
    var allShelters = (List<GlobalHack.Models.Shelter>)ViewBag.allShelters;
    var myLocalShelter = (GlobalHack.Models.Shelter)ViewBag.myLocalShelter;
    var youthShelters = (Dictionary<GlobalHack.Models.Shelter, int>)ViewBag.youthShelters;
    var maleOnlyShelters = (Dictionary<GlobalHack.Models.Shelter, int>)ViewBag.maleOnlyShelters;
    var pregnantOnlyShelters = (Dictionary<GlobalHack.Models.Shelter,int>)ViewBag.pregnantOnlyShelters;
    var myReservations = (List<GlobalHack.Models.Reservation>)ViewBag.myReservations;
    var myBedsAvailable = (int?)ViewBag.bedsAvailable;
}

<div class="row">
    <div class="row">
        <div class="col-md-12">
    <h2>My Shelter</h2>
    @Html.DisplayNameFor(model => model.Name) - @Html.DisplayFor(modelItem => myLocalShelter.Name) <br />
    @Html.DisplayNameFor(model => model.Phone) - @Html.DisplayFor(modelItem => myLocalShelter.Phone)<br />
    @Html.DisplayNameFor(model => model.Beds) - @Html.DisplayFor(modelItem => myLocalShelter.Beds) <br />
    @Html.DisplayNameFor(model => model.Location) - @Html.DisplayFor(modelItem => myLocalShelter.Location) <br />
    Beds Available -  @myBedsAvailable <br />

    <h4>Reservations Tonight</h4>
    @if (myReservations.Count == 0)
    {
        <div class="row">
            <div class="col-md-8">
                No reservations for tonight!
            </div>
        </div>
    }
    else
    {
        int i = 0;
        foreach (var reservation in myReservations)
        {
            if (i%3 == 0) {
                @Html.Raw("<div class=\"row\">");
                    <div class="col-md-4">
                        Date - @Html.DisplayFor(modelItem => reservation.Date) <br/>
                        Has it been Confirmed? - @Html.DisplayFor(modelItem => reservation.Confirmed) <br/>
                        Person Name - @Html.DisplayFor(modelItem => reservation.Person.Name) <br/>
                    </div>
            }
            if (@i%3==1) {
                    <div class="col-md-4">
                        Date - @Html.DisplayFor(modelItem => reservation.Date) <br/>
                        Has it been Confirmed? - @Html.DisplayFor(modelItem => reservation.Confirmed) <br/>
                        Person Name - @Html.DisplayFor(modelItem => reservation.Person.Name) <br/>
                    </div>
            }
            if (@i%3==2) {
                    <div class="col-md-4">
                        Date - @Html.DisplayFor(modelItem => reservation.Date) <br/>
                        Has it been Confirmed? - @Html.DisplayFor(modelItem => reservation.Confirmed) <br/>
                        Person Name - @Html.DisplayFor(modelItem => reservation.Person.Name) <br/>
                    </div>
                @Html.Raw("</div>");
            }
            i++;
        }
    }
            @Html.ActionLink("Track New Shelter", "Create", "Shelters")
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2> Youth Shelters</h2>
            @if (youthShelters.Count == 0)
            {
                <div class="row">
                    <div class="col-md-8">
                        No youth shelters for tonight!
                    </div>
                </div>
            }
            else
            {
                foreach (KeyValuePair<Shelter,int> ys in youthShelters)
                {
                    <div class="row">
                        <div class="col-md-8">
                            Name- @Html.DisplayFor(modelItem => ys.Key.Name) <br />
                            Contact Phone- @Html.DisplayFor(modelItem => ys.Key.Phone) <br />
                            Address- @Html.DisplayFor(modelItem => ys.Key.Location) <br />
                            Total Beds- @Html.DisplayFor(modelItem => ys.Key.Beds) <br />
                            Total Beds Available- @ys.Value <br />
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2> Family-Oriented Shelters</h2>
            @if (maleOnlyShelters.Count == 0)
            {
                <div class="row">
                    <div class="col-md-8">
                        No youth shelters for tonight!
                    </div>
                </div>
            }
            else
            {
                foreach (KeyValuePair<Shelter,int> mOS in maleOnlyShelters)
                {
                    <div class="row">
                        <div class="col-md-8">
                            Name- @Html.DisplayFor(modelItem => mOS.Key.Name) <br />
                            Contact Phone- @Html.DisplayFor(modelItem => mOS.Key.Phone) <br />
                            Address- @Html.DisplayFor(modelItem => mOS.Key.Location) <br />
                            Total Beds- @Html.DisplayFor(modelItem => mOS.Key.Beds) <br />
                            Total Beds Available- @mOS.Value <br />
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2> Pregnant Only Shelters</h2>
            @if (pregnantOnlyShelters.Count == 0)
            {
                <div class="row">
                    <div class="col-md-8">
                        No youth shelters for tonight!
                    </div>
                </div>
            }
            else
            {
                foreach (KeyValuePair<Shelter,int> pOS in pregnantOnlyShelters)
                {
                    <div class="row">
                        <div class="col-md-8">
                            Name- @Html.DisplayFor(modelItem => pOS.Key.Name) <br />
                            Contact Phone- @Html.DisplayFor(modelItem => pOS.Key.Phone) <br />
                            Address- @Html.DisplayFor(modelItem => pOS.Key.Location) <br />
                            Total Beds- @Html.DisplayFor(modelItem => pOS.Key.Beds) <br />
                            Total Beds Available- @pOS.Value <br />
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h2> Pregnant Only Shelters</h2>
            @if (pregnantOnlyShelters.Count == 0)
            {
                <div class="row">
                    <div class="col-md-8">
                        No youth shelters for tonight!
                    </div>
                </div>
            }
            else
            {
                foreach (KeyValuePair<Shelter, int> pOS in pregnantOnlyShelters)
                {
                    <div class="row">
                        <div class="col-md-8">
                            Name- @Html.DisplayFor(modelItem => pOS.Key.Name) <br />
                            Contact Phone- @Html.DisplayFor(modelItem => pOS.Key.Phone) <br />
                            Address- @Html.DisplayFor(modelItem => pOS.Key.Location) <br />
                            Total Beds- @Html.DisplayFor(modelItem => pOS.Key.Beds) <br />
                            Total Beds Available- @pOS.Value <br />
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>