@model IEnumerable<GlobalHack.Models.Referral>

@{
    ViewBag.Title = "Index";
}

<h1>@Html.ActionLink("Home", "Index", "People", new { Id = ViewBag.PersonId }, null) > Referrals</h1>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            Shelter
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shelter.Name)
        </td>
    </tr>
}

</table>
