@model GlobalHack.Models.Person



    <div>
        <h4>Person</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BirthYear)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BirthYear)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NumChildren)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumChildren)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Pregnant)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Pregnant)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Transgender)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Transgender)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SexOffender)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SexOffender)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>
            
            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>