@model List<GlobalHack.Models.Referral>

@{
    ViewBag.Title = "Referrals Per Person";

}

<div>
   
    @foreach (var referal in Model)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => referal.Person.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => referal.Person.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => referal.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => referal.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => referal.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => referal.Notes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => referal.Shelter.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => referal.Shelter.Name)
            </dd>

        </dl>
    }
    
</div>
<p>
    @Html.ActionLink("Attach New Referral", "Create")
</p>
